<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "go.wenria.test"
        versionCode = "10"
        version     = "2.1.0">
 
    <name>WenriaTest</name>
 
    <description>
        Projet répondant à la preuve de concept reçu de l'entreprise Wenria
    </description>
 
    <author href="#" email="reboulvincentjd@gmail.com">
        Reboul Vincent
    </author>
    <icon src="img/logo.jpg"/>
    <preference name="orientation" value="default" />
    
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>